html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 1000px;
    padding: 0 30px;
    margin: 0 auto;
    background-color: rgb(253, 253, 251);
    font-family: 'Lato', sans-serif;
}

.container {
    background-color: rgb(236, 245, 252);
    line-height: 1.5;
    text-align: center;
}