html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 1000px;
    padding: 20px;
    margin:80px auto;
    background-color: rgb(253, 253, 251);
    font-family: 'Lato', sans-serif;
    background-image: url("../images/money.jpg");
    background-size: cover;
}

.container {
    line-height: 1.5;
    text-align: center;
}

